.poster{
  width: 1226px;
  height: 170px;
  display: flex;
  background-color: beige;
  margin: 0 auto;
}

.poster .fastLink{
  width: 234px;
  height: 100%;
  background-color: aquamarine;
}

.poster .pics{
  flex: 1;
  height: 100%;
  background-color: blueviolet;
}