.provideGoods{
  background: #f5f5f5;
  height: 1000px;
}

.provideGoods .container{
  width: 1226px;
  margin: 0 auto;
  /* background-color:rgb(188, 192, 181); */
}

.provideGoods .container .banner-box{
  width: 100%;
  height: 120px;
  background-color: blue;
  margin: 22px 0;
  background: url(../img/provideGoods/banner-box/K40超长图横幅.webp) no-repeat center;
  background-size: 100% 100%;
  cursor: pointer;
}

.provideGoods .container .brick-box{
  width: 100%;
  background-color: thistle;
}

.provideGoods .container .brick-box .box-hd{
  width: 100%;
  height: 58px;
  background-color: darkblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.provideGoods .container .brick-box .box-hd .title{
  font-size: 22px;
  font-weight: 200;
  color: #333;
}

.provideGoods .container .brick-box .box-hd .more{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: all .4s;
  color: #424242;
}

.provideGoods .container .brick-box .box-hd .more span{
  flex: 1;
  width: 20px;
  height: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.provideGoods .container .brick-box .box-hd .more span img{
  width: 100%;
  height: 100%;
}

.provideGoods .container .brick-box .box-bd{
  width: 100%;
  height: 628px;
  background-color: darkcyan;
  display: flex;
}

.provideGoods .container .brick-box .box-bd .big{
  width: 234px;
  height: 100%;
  margin-left: 14px;
  box-sizing: border-box;
  background-color: crimson;
  transition: all .2s linear;
  cursor: pointer;
}

.provideGoods .container .brick-box .box-bd .big:hover{
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  transform: translate3d(0,-2px,0);
}

.provideGoods .container .brick-box .box-bd .items{
  flex: 1;
  height: 100%;
  background-color: darkgoldenrod;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.provideGoods .container .brick-box .box-bd .items .item{
  flex-basis: calc(100% / 4 - 14px);
  /* width: 234px; */
  height: 300px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: azure;
  transition: all .2s linear;
  cursor: pointer;
}

.provideGoods .container .brick-box .box-bd .items .item:hover{
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  transform: translate3d(0,-2px,0);
}